/*****
HEADER
*****/

header {
    /*The background image covers the 100% of the viewport" */
    background-image: url("Img/paintings/statue.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;  
    opacity: 1;
    /*The title is centered in the header*/
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

header h1 {
    line-height: 10vh;
    background-color: rgba(52, 58, 64, 0.5); /* using --gray-dark with opacity */
    text-align: center;
}


/*****
 CARD
*****/

.card > a {
    text-decoration: none;  /* remove underline when hover on the link */
    color: black;
}

.card > a:hover{
    color: var(--primary);
}

.row_header {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
}

.card-title {
    font-family: 'Courier New', Courier, monospace;
}
